# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Terraform backup & crash logs
*.backup
*.log

# Terraform directories
.terraform/
.terraform.lock.hcl

# Sensitive environment files
.env
.env.*
!**/.env.template

# Node modules
node_modules/